<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MyBudget</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" href="/home" routerLink="home">Home</a>
      </li>
    </ul>

    <ul *ngIf="!isLoggedIn" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/register" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login" routerLink="login">Login</a>
      </li>
    </ul>

    <ul *ngIf="isLoggedIn" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/profile" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link" href>Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
